*{
  margin: 0;
  padding: 0
}

body {
  padding-top: 54px;
}

.roles-array span:not(:first-child):before {
  content: ", ";
}

.toast {
  min-width: 250px;
}

.toast:first-child {
  margin-top: 0.75rem;
}

.page-link {
  cursor: pointer;
}

.notification-type {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
}

.close,
.close:focus,
input[type="button"]:focus {
  outline: none;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
